#### This experiment shows Decision Trees with various compbinations of Hyper parameters

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier, export_text, plot_tree
from sklearn.model_selection import train_test_split, GridSearchCV

### The Data

We will use the credit card default dataset.

In [17]:
default = pd.read_excel('data/Default.xls', skiprows = 1)
default.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [18]:
default = default.rename({'default payment next month': 'default'}, axis = 1)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(default.drop('default', axis = 1), default.default, 
                                                   random_state = 42)

In [20]:

from sklearn.metrics import accuracy_score
dtree = ''
depth_1 = ''
train_acc = ''
test_acc = ''

dtree = DecisionTreeClassifier(random_state=42)
dtree.fit(X_train, y_train)
train_acc = accuracy_score(dtree.predict(X_train), y_train)
test_acc = accuracy_score(dtree.predict(X_test), y_test)

depth_1 = dtree.get_depth()

print(f'Training Accuracy: {train_acc: .2f}')
print(f'Trest Accuracy: {test_acc: .2f}')
print(f'Depth of tree: {depth_1}')

Training Accuracy:  1.00
Trest Accuracy:  0.73
Depth of tree: 41

In [21]:

dtree_samples = ''
depth_2 = ''
samples_train_acc = ''
samples_test_acc = ''


dtree_samples = DecisionTreeClassifier(min_samples_split=0.05)
dtree_samples.fit(X_train, y_train)
samples_train_acc = accuracy_score(dtree_samples.predict(X_train), y_train)
samples_test_acc = accuracy_score(dtree_samples.predict(X_test), y_test)
depth_2 = dtree_samples.get_depth()


print(f'Training Accuracy: {samples_train_acc: .2f}')
print(f'Test Accuracy: {samples_test_acc: .2f}')
print(f'Depth of tree: {depth_2}')

Training Accuracy:  0.82
Test Accuracy:  0.82
Depth of tree: 24

In [22]:
depth_tree = ''
depth_train_acc = ''
depth_test_acc = ''


depth_tree = DecisionTreeClassifier(max_depth=5, random_state=42)
depth_tree.fit(X_train, y_train)
depth_train_acc = accuracy_score(depth_tree.predict(X_train), y_train)
depth_test_acc = accuracy_score(depth_tree.predict(X_test), y_test)
depth_3 = depth_tree.get_depth()

print(f'Training Accuracy: {depth_train_acc: .2f}')
print(f'Trest Accuracy: {depth_test_acc: .2f}')
print(f'Depth: {depth_3}')

Training Accuracy:  0.83
Trest Accuracy:  0.82
Depth: 5

In [23]:

imp_tree = ''
imp_train_acc = ''
imp_test_acc = ''
depth_4 = ''


imp_tree = DecisionTreeClassifier(min_impurity_decrease=.01, random_state=42)
imp_tree.fit(X_train, y_train)
imp_train_acc = accuracy_score(imp_tree.predict(X_train), y_train)
imp_test_acc = accuracy_score(imp_tree.predict(X_test), y_test)
depth_4 = imp_tree.get_depth()

print(f'Training Accuracy: {imp_train_acc: .2f}')
print(f'Test Accuracy: {imp_test_acc: .2f}')
print(f'Depth of tree: {depth_4}')

Training Accuracy:  0.82
Test Accuracy:  0.82
Depth of tree: 2