### A Simple Artificial Neural Network

This activity focuses on the basics of an artificial neural network (ANN).

Using the Titanic dataset, we will work through the basic steps of a neural network's forward pass:

- Add a bias feature to the input data.
- Create random weights for the features.
- Apply the weights to the input features.
- Use a sigmoid activation function to calculate outputs.
- Make predictions based on the activation results.

This exercise will help someone understand the fundamental building blocks of neural networks: weighted sums, activations, and basic prediction logic.

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Creating the Data

Below, we load the Titanic dataset using `seaborn`.  

For this exercise, we will only use the top five rows of the dataset. This simplification helps clarify the initial workings of artificial neural networks (ANNs) without getting overwhelmed by the full dataset.

In [18]:
# %pip install seaborn
import seaborn as sns

In [20]:
titanic = sns.load_dataset('titanic').dropna(subset = ['age'])

In [28]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [98]:
X = titanic[['age', 'pclass']].head()
y = titanic['survived'].head()  #0 - No, 1 - Yes

In [100]:
y

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

#### Adding the Bias Feature


As a convention, add the bias column as the first column in the dataset.

In [103]:
import numpy as np
def add_bias(X):
        
    X_with_bias = X.copy()
    X_with_bias['bias'] = 1
    
    cols = ['bias'] + [col for col in X_with_bias.columns if col != 'bias']
    X_with_bias = X_with_bias[cols]

    return X_with_bias

X_with_bias = add_bias(X)
X_with_bias.head()

   bias   age  pclass
0     1  22.0       3
1     1  38.0       1
2     1  26.0       3
3     1  35.0       1
4     1  35.0       3

#### A Single Node Weights

The first step when defining an ANN is to assign a weight for each input of each node.  

Assuming the ANN used in this exercise uses one single node, this amounts to creating three initial weights -- one for the bias, and one weight for each feature.

In [106]:
range = np.random.default_rng(seed =42)
weights = range.random((1,3))
    

print(weights.shape)
print(weights)

(1, 3)
[[0.77395605 0.43887844 0.85859792]]

#### Computing the weighted sum

Next, let's apply weight to the features and bias.

In [109]:
weighted_sum = np.multiply(weights, X_with_bias)
    
weighted_sum

       bias        age    pclass
0  0.773956   9.655326  2.575794
1  0.773956  16.677381  0.858598
2  0.773956  11.410839  2.575794
3  0.773956  15.360745  0.858598
4  0.773956  15.360745  2.575794

#### Sigmoid Activation

Create a signmoid function and apply to the weighted sum:

$$f(x) = \frac{1}{1 + e^{-x}}$$

In [118]:
def sigmoid(X):
    sigmoid_value = np.divide(1, np.add(1, np.exp(-X)))
    return sigmoid_value

output = sigmoid(weighted_sum)

output

       bias       age    pclass
0  0.684376  0.999936  0.929287
1  0.684376  1.000000  0.702368
2  0.684376  0.999989  0.929287
3  0.684376  1.000000  0.702368
4  0.684376  1.000000  0.929287

#### Making Predictions

Make prediction and calculate accuracy score

In [123]:
from sklearn.metrics import accuracy_score

preds = [1 if val > 0.5 else 0 for val in weighted_sum['bias']]
acc = accuracy_score(preds, y)

preds, acc

([1, 1, 1, 1, 1], 0.6)